<style>
header {
position: fixed;
background-color: black;
color: white;
top: 0px;
left: 0px;
width: 100%;
height: 20px;
}
nav {
margin-top: 20px;
margin-bottom: 0px;
background-color: green;
}
nav li {
display: inline;
}
section {
float: left;
width: 20%;
height: 500px;
background-image: url(http://4.bp.blogspot.com/-q6Hy1-F6zG0/TsZYRtaZwVI/AAAAAAAACb0/xQvT-X9p7TE/s220/spiff1.jpg);
color: white;
}
aside {
float: left;
width: 80%;
height: 500px;
background-image: url(http://t0.gstatic.com/images?q=tbn:ANd9GcTcBRMKoarvr-CO5TqvKCEyImnTMr6N_s72HNkcNie-JsStBRuksw);
color:white;

  
}
footer {
clear: both;
background-color: green;
}
body {
background-color: black;
color:white;
margin: 0px;
}
</style>
